# Capstone 4

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.formula.api as smf
import sklearn.metrics
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [ ]:
# Topic:

# Loading datasets

In [5]:
# users: Dataset of users and information about their social/shopping behavior.
users = pd.read_csv('~/Documents/JONATHANAYALA-CAPSTONE4/DATA/6M-0K-99K.users.dataset.public.csv')
users.head(5)

,identifierHash,type,country,language,socialNbFollowers,socialNbFollows,socialProductsLiked,productsListed,productsSold,productsPassRate,...,civilityTitle,hasAnyApp,hasAndroidApp,hasIosApp,hasProfilePicture,daysSinceLastLogin,seniority,seniorityAsMonths,seniorityAsYears,countryCode
0,-1097895247965112460,user,Royaume-Uni,en,147,10,77,26,174,74.0,...,mr,True,False,True,True,11,3196,106.53,8.88,gb
1,2347567364561867620,user,Monaco,en,167,8,2,19,170,99.0,...,mrs,True,False,True,True,12,3204,106.80,8.90,mc
2,6870940546848049750,user,France,fr,137,13,60,33,163,94.0,...,mrs,True,False,True,False,11,3203,106.77,8.90,fr
3,-4640272621319568052,user,Etats-Unis,en,131,10,14,122,152,92.0,...,mrs,True,False,True,False,12,3198,106.60,8.88,us
4,-5175830994878542658,user,Etats-Unis,en,167,8,0,25,125,100.0,...,mrs,False,False,False,True,22,2854,95.13,7.93,us

In [6]:
# sellers: Comparison of seller accounts by country and gender.
sellers = pd.read_csv('~/Documents/JONATHANAYALA-CAPSTONE4/DATA/comparison_of_sellers_by_gender_and_country.csv')
sellers.head(5)

,country,sex,nbsellers,meanproductssold,meanproductslisted,meansellerpassrate,totalproductssold,totalproductslisted,meanproductsbought,meanproductswished,meanproductsliked,totalbought,totalwished,totalproductsliked,meanfollowers,meanfollows,percentofappusers,percentofiosusers,meanseniority
0,Allemagne,Female,116,4.03,2.72,27.33,468,315,3.05,34.66,35.28,354,4021,4092,9.5,8.9,54.0,49.0,3060.336207
1,Allemagne,Male,34,2.00,1.00,19.15,68,34,1.62,3.38,31.79,55,115,1081,7.8,8.4,79.0,64.0,3089.058824
2,ArmÃ©nie,Female,1,0.00,25.00,0.00,0,25,0.00,0.00,1.00,0,0,1,4.0,8.0,NaN,NaN,3201.000000
3,Australie,Female,18,0.94,1.33,10.44,17,24,6.11,17.72,209.28,110,319,3767,7.5,9.3,55.0,55.0,3103.666667
4,Australie,Male,3,6.00,4.00,33.33,18,12,8.00,24.00,38.33,24,72,115,12.7,8.3,66.0,66.0,3085.666667

In [7]:
# topsellers: Statistics about countries with top sellers. Top sellers were defined as those with >= 20 products sold.
# They represent approximately the top 10% of all seller accounts in the dataset.
# (Seller accounts are those who successfully sold at least 1 product).
topsellers = pd.read_csv('~/Documents/JONATHANAYALA-CAPSTONE4/DATA/countries_with_top_sellers_fashion_c2c.csv')
topsellers.head(5)

,country,sellers,topsellers,topsellerratio,femalesellersratio,topfemalesellersratio,femalesellers,malesellers,topfemalesellers,topmalesellers,...,topmeanproductssold,topmeanproductslisted,meanproductssold,meanproductslisted,meanofflinedays,topmeanofflinedays,meanfollowers,meanfollowing,topmeanfollowers,topmeanfollowing
0,Taiwan,1,1,100.0,100.0,100.0,1,0,1,0,...,57.00,56.00,57.000000,56.000000,11.0,11.0,83.0,8.0,83.0,8.0
1,Slovaquie,2,1,50.0,0.0,0.0,0,2,0,1,...,27.00,14.00,14.000000,7.000000,17.0,15.0,10.5,8.5,15.0,8.0
2,Lettonie,4,2,50.0,100.0,100.0,4,0,2,0,...,40.50,18.00,20.750000,9.000000,120.3,11.5,21.0,52.3,38.0,98.5
3,Bulgarie,9,4,44.4,66.7,100.0,6,3,4,0,...,36.25,17.25,18.888889,9.111111,98.3,19.0,28.6,31.6,46.3,19.0
4,Chypre,4,1,25.0,100.0,100.0,4,0,1,0,...,41.00,66.00,14.000000,20.250000,17.3,11.0,21.3,10.3,39.0,17.0

In [ ]:
# Countries in each dataset written in French. When inspecting on Excel, noticed file encrypted. Saving to UTF-8,
# and using INSERT MATCH to translate country names

# EDA

In [8]:
# users

In [11]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98913 entries, 0 to 98912
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   identifierHash       98913 non-null  int64
 1   type                 98913 non-null  object
 2   country              98913 non-null  object
 3   language             98913 non-null  object
 4   socialNbFollowers    98913 non-null  int64
 5   socialNbFollows      98913 non-null  int64
 6   socialProductsLiked  98913 non-null  int64
 7   productsListed       98913 non-null  int64
 8   productsSold         98913 non-null  int64
 9   productsPassRate     98913 non-null  float64
 10  productsWished       98913 non-null  int64
 11  productsBought       98913 non-null  int64
 12  gender               98913 non-null  object
 13  civilityGenderId     98913 non-null  int64
 14  civilityTitle        98913 non-null  object
 15  hasAnyApp            98913 non-null  bool
 16  hasAndroidApp        98913 non-null  bool
 17  hasIosApp            98913 non-null  bool
 18  hasProfilePicture    98913 non-null  bool
 19  daysSinceLastLogin   98913 non-null  int64
 20  seniority            98913 non-null  int64
 21  seniorityAsMonths    98913 non-null  float64
 22  seniorityAsYears     98913 non-null  float64
 23  countryCode          98913 non-null  object
dtypes: bool(4), float64(3), int64(11), object(6)
memory usage: 15.5+ MB

In [12]:
users.describe()

,identifierHash,socialNbFollowers,socialNbFollows,socialProductsLiked,productsListed,productsSold,productsPassRate,productsWished,productsBought,civilityGenderId,daysSinceLastLogin,seniority,seniorityAsMonths,seniorityAsYears
count,9.891300e+04,98913.000000,98913.000000,98913.000000,98913.000000,98913.000000,98913.000000,98913.000000,98913.000000,98913.000000,98913.000000,98913.000000,98913.000000,98913.000000
mean,-6.692039e+15,3.432269,8.425677,4.420743,0.093304,0.121592,0.812303,1.562595,0.171929,1.773993,581.291236,3063.771870,102.125583,8.510424
std,5.330807e+18,3.882383,52.839572,181.030569,2.050144,2.126895,8.500205,25.192793,2.332266,0.428679,208.855888,168.298621,5.609735,0.467863
min,-9.223101e+18,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,11.000000,2852.000000,95.070000,7.920000
25%,-4.622895e+18,3.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,572.000000,2857.000000,95.230000,7.940000
50%,-1.337989e+15,3.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,694.000000,3196.000000,106.530000,8.880000
75%,4.616388e+18,3.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,702.000000,3201.000000,106.700000,8.890000
max,9.223331e+18,744.000000,13764.000000,51671.000000,244.000000,174.000000,100.000000,2635.000000,405.000000,3.000000,709.000000,3205.000000,106.830000,8.900000

In [9]:
# sellers

In [13]:
sellers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   country              70 non-null     object
 1   sex                  72 non-null     object
 2   nbsellers            73 non-null     int64
 3   meanproductssold     73 non-null     float64
 4   meanproductslisted   73 non-null     float64
 5   meansellerpassrate   73 non-null     float64
 6   totalproductssold    73 non-null     int64
 7   totalproductslisted  73 non-null     int64
 8   meanproductsbought   73 non-null     float64
 9   meanproductswished   73 non-null     float64
 10  meanproductsliked    73 non-null     float64
 11  totalbought          73 non-null     int64
 12  totalwished          73 non-null     int64
 13  totalproductsliked   73 non-null     int64
 14  meanfollowers        73 non-null     float64
 15  meanfollows          73 non-null     float64
 16  percentofappusers    66 non-null     float64
 17  percentofiosusers    65 non-null     float64
 18  meanseniority        73 non-null     float64
dtypes: float64(11), int64(6), object(2)
memory usage: 11.0+ KB

In [14]:
sellers.describe()

,nbsellers,meanproductssold,meanproductslisted,meansellerpassrate,totalproductssold,totalproductslisted,meanproductsbought,meanproductswished,meanproductsliked,totalbought,totalwished,totalproductsliked,meanfollowers,meanfollows,percentofappusers,percentofiosusers,meanseniority
count,73.000000,73.000000,73.000000,73.000000,73.000000,73.000000,73.000000,73.000000,73.000000,73.000000,73.000000,73.000000,73.000000,73.000000,66.000000,65.000000,73.000000
mean,111.739726,4.984110,4.177671,26.382329,494.260274,379.273973,3.266575,40.527397,72.186986,225.616438,1874.424658,6601.931507,12.583562,16.475342,68.015152,61.492308,3070.617187
std,412.253126,8.091924,7.484078,21.453931,1809.983142,1410.134078,5.211880,113.551020,134.051376,824.771679,7067.534787,26250.135826,12.190946,25.093557,19.716836,22.041242,100.929973
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,8.000000,20.000000,12.000000,2855.000000
25%,2.000000,1.200000,1.000000,0.000000,3.000000,3.000000,0.000000,1.130000,6.330000,0.000000,4.000000,15.000000,7.500000,8.200000,57.500000,50.000000,3043.909091
50%,5.000000,2.790000,2.250000,29.460000,24.000000,14.000000,1.290000,7.000000,27.750000,15.000000,80.000000,333.000000,9.500000,9.000000,66.000000,57.000000,3084.600000
75%,22.000000,5.250000,4.150000,37.000000,107.000000,82.000000,3.330000,26.400000,69.990000,77.000000,817.000000,1081.000000,13.400000,12.300000,75.000000,66.000000,3130.600000
max,2719.000000,57.000000,56.000000,98.000000,12027.000000,9229.000000,24.670000,707.000000,792.000000,5490.000000,45611.000000,160647.000000,83.000000,157.000000,100.000000,100.000000,3204.000000

In [10]:
# topsellers

In [15]:
topsellers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 19 non-null     object
 1   sellers                 19 non-null     int64
 2   topsellers              19 non-null     int64
 3   topsellerratio          19 non-null     float64
 4   femalesellersratio      19 non-null     float64
 5   topfemalesellersratio   19 non-null     float64
 6   femalesellers           19 non-null     int64
 7   malesellers             19 non-null     int64
 8   topfemalesellers        19 non-null     int64
 9   topmalesellers          19 non-null     int64
 10  countrysoldratio        19 non-null     float64
 11  bestsoldratio           18 non-null     float64
 12  toptotalproductssold    19 non-null     int64
 13  totalproductssold       19 non-null     int64
 14  toptotalproductslisted  19 non-null     int64
 15  totalproductslisted     19 non-null     int64
 16  topmeanproductssold     19 non-null     float64
 17  topmeanproductslisted   19 non-null     float64
 18  meanproductssold        19 non-null     float64
 19  meanproductslisted      19 non-null     float64
 20  meanofflinedays         19 non-null     float64
 21  topmeanofflinedays      19 non-null     float64
 22  meanfollowers           19 non-null     float64
 23  meanfollowing           19 non-null     float64
 24  topmeanfollowers        19 non-null     float64
 25  topmeanfollowing        19 non-null     float64
dtypes: float64(15), int64(10), object(1)
memory usage: 4.0+ KB

In [16]:
topsellers.describe()

,sellers,topsellers,topsellerratio,femalesellersratio,topfemalesellersratio,femalesellers,malesellers,topfemalesellers,topmalesellers,countrysoldratio,...,topmeanproductssold,topmeanproductslisted,meanproductssold,meanproductslisted,meanofflinedays,topmeanofflinedays,meanfollowers,meanfollowing,topmeanfollowers,topmeanfollowing
count,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,...,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000
mean,99.578947,6.631579,20.968421,78.778947,80.963158,75.368421,24.210526,5.105263,1.526316,2.032632,...,50.026688,30.124714,12.966926,8.582865,122.631579,23.757895,19.752632,17.389474,55.310526,56.389474
std,178.948570,9.804820,24.430174,22.167182,26.052025,131.976097,47.390317,7.194865,2.874571,1.616621,...,34.374679,19.263995,13.502800,12.208144,73.153940,20.889453,17.128448,14.551552,36.883012,103.303425
min,1.000000,1.000000,3.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.690000,...,20.000000,0.000000,3.722222,1.142857,11.000000,11.000000,7.000000,8.000000,15.000000,3.000000
25%,6.000000,1.000000,6.450000,74.300000,71.800000,5.500000,0.500000,1.000000,0.000000,1.230000,...,28.500000,18.500000,5.167766,2.930594,62.600000,11.000000,10.800000,8.700000,36.650000,8.550000
50%,13.000000,2.000000,10.100000,78.700000,85.700000,10.000000,3.000000,1.000000,1.000000,1.590000,...,41.000000,21.380952,8.126801,5.500000,121.600000,12.700000,15.100000,10.200000,46.300000,14.500000
75%,112.000000,5.500000,22.500000,92.850000,100.000000,88.000000,24.000000,4.500000,1.000000,2.015000,...,56.700000,39.500000,14.000000,7.109375,172.800000,28.500000,20.400000,19.750000,58.300000,36.500000
max,713.000000,35.000000,100.000000,100.000000,100.000000,523.000000,190.000000,23.000000,12.000000,7.310000,...,170.000000,71.333333,57.000000,56.000000,266.100000,79.400000,83.000000,54.600000,167.000000,429.300000